{{#each this}}
<li class="country-list__item">
    <img class="country-list__image" src="{{this.flags.png}}" alt="{{this.name.official}}">
    <p class="country-list_name">{{this.name.official}}</p>
</li>
{{/each}}