.country-list {
  margin: 0;
  width: 320px;
  padding: 0 8px;
}

.country-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;
}

.country-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.country-list__image {
  margin-right: 10px;
  width: 24px;
}

.country-list_name {
  margin: 0;
  font-size: 14px;
}
